<div class="container py-5">
  <form class="example-form" [formGroup]="userForm">
    <div
      class="address-container"
      *ngFor="let group of addressArray.controls; let i = index"
      formArrayName="address"
    >
      <div class="form-group jumbotron" [formGroupName]="i">
        <input
          class="form-control mb-3"
          placeholder="Street"
          value=""
          formControlName="street"
        />

        <input
          class="form-control mb-3"
          placeholder="City"
          value=""
          formControlName="city"
        />
        @if (i > 0) {
          <button
          class="btn btn-danger float-end mb-3"
          (click)="removeAddress(i)"
          >
            Remove address block
          </button>
        }
      </div>
    </div>

    <div class="form-row org-desc-parent-margin">
      <button class="btn btn-primary" (click)="addAddress()">
        Add More Address +
      </button>
    </div>
  </form>

  <h2>Form Values</h2>
  <pre>{{ userForm.value }}</pre>
</div>
